<div class="container-fuild" style="padding: 100px 0px 100px 0px">
    <h2 style="text-align: center">
        Có gì đó không đúng, xin bạn hãy <a href="javascript:history.go(-1)">quay lại</a>!
    </h2>
</div>
