<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-lg-4" style="background-color: lightslategray">
            <button class="btn btn primary"></button>
        </div>
        <div class="col-sm-8 col-lg-8" style="background-color: lightcoral">
                <button class="btn btn primary"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12" style="background-color: lawngreen">
                <button class="btn btn primary"></button>
        </div>
    </div>
</div>
