<div class="container">
    <h2 style="text-align: center;">Chỉnh Sửa Bài Viết</h3>
    <%= render 'form-edit', post: @post %>
    <%= link_to 'Xem', @post %> |
    <%= link_to 'Trở Về', posts_path %>
</div>
