<div class="container">
  <h3>ĐĂNG TIN RAO BÁN, CHO THUÊ NHÀ ĐẤT</h3>
  <span>(Quý vị nhập thông tin nhà đất cần bán hoặc cho thuê vào các mục dưới đây)</span>
  <%= render 'form-create', post: @post %>
</div>

<!-- <%= link_to 'Back', posts_path %> -->