<div class="container">
  <h3 style="text-align: center;">ĐĂNG TIN RAO BÁN, CHO THUÊ NHÀ ĐẤT</h3>
  <span style="color:gray;">(Quý vị nhập thông tin nhà đất cần bán hoặc cho thuê vào các mục dưới đây)</span>
  <%= render 'form-create', post: @post %>
</div>

<!-- <%= link_to 'Back', posts_path %> -->